div {
    width: 200px;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    color: tomato;
    text-align: center;
    text-decoration: underline;
}

.family {
    font-family: cursive, sans-serif;
}

.size {
    font-size: 20px;
}

.weight {
    font-weight: 900;
}

.style {
    font-style: italic;
}

.variant {
    font-variant: small-caps;
}