* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: whitesmoke;
}

h1 {
    color: tomato;
    margin: 15px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

.container {
    width: 500px;
    padding: 20px;
    margin: auto;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

img {
    height: 75px;
}

.row, .row-reverse {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 15px;

    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column, .column-reverse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    height: 400px;
    padding: 10px;

    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.column-reverse {
    flex-direction: column-reverse;
}