* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: whitesmoke;
}

h1 {
    color: tomato;
    margin: 15px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    margin: 5px;
}

.container {
    width: 550px;
    padding: 20px;
    margin: auto;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    height: 50px;
}

.flex-start, .flex-end, .center, .space-between, .space-around, .space-evenly {
    display: flex;

    width: 500px;
    padding: 10px;
    margin-bottom: 10px;

    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}