@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", serif;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(22, 20, 20);
}


/* Sun Style */
.sun {
    color: #000;
    width: 100px;
    height: 100px;
    background-color: rgb(230, 230, 34);
    border-radius: 50%;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sun p {
    color: tomato;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 33px;
    top: 35px;
}

/* Planets Style Start From Here */
.mercury-outline, .venus-outline, .earth-outline, .mars-outline, .jupiter-outline, .saturn-outline, .uranus-outline, .neptune-outline {
    border-radius: 50%;
    border: 1px dotted #ddd9dd;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #fff;
    position: absolute;
    left: -62px;
    top: -11px;
}

/* Mercury Style */
.mercury {
    width: 20px;
    height: 20px;
    background-image: url(../../images/mercury.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #f9c05f;

    position: absolute;
    top: 42%;
    left: 43%;
    transform: translate(-50%, -50%);

    animation: mercury-animation 10s linear infinite;
}

@keyframes mercury-animation {
    from {
        transform: rotate(0deg) translateX(70px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
}

.mercury-outline {
    height: 140px;
    width: 140px;
}

/* Venus Style */
.venus {
    width: 30px;
    height: 30px;
    background-image: url(../../images/venus.jpg);
    background-size: 100%;
    border-radius: 50%;
    /* box-shadow: -4px 2px 56px #c1aa81; */

    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);

    animation: venus-animation 15s linear infinite;
}

@keyframes venus-animation {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

.venus-outline {
    height: 200px;
    width: 200px;
}

/* Earth Style */
.earth {
    width: 40px;
    height: 40px;
    background-image: url(../../images/earth.jpg);
    background-size: 100%;
    border-radius: 50%;
    /* box-shadow: -4px 2px 56px #c1aa81; */

    position: absolute;
    top: 44%;
    left: 43%;
    transform: translate(-50%, -50%);

    animation: earth-animation 25s linear infinite;
}

@keyframes earth-animation {
    from {
        transform: rotate(0deg) translateX(135px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(135px) rotate(-360deg);
    }
}

.earth-outline {
    height: 280px;
    width: 280px;
}


.earth-circle {
    height: 50px;
    width: 50px;
    border: 1px dotted #ddd9dd;

    position: relative;
    left: -5px;
    top: -5px;
    border-radius: 40px;
}


.earth-inner {
    height: 7px;
    width: 7px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);

    animation: earth-inner-animation 5s linear infinite;
}

@keyframes earth-inner-animation {
    from {
        transform: rotate(0deg) translateX(25px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(25px) rotate(-360deg);
    }    
}

/* Mars Style */
.mars {
    width: 30px;
    height: 30px;
    background-image: url(../../images/mars.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #fea535;

    position: absolute;
    top: 46.5%;
    left: 46.5%;
    transform: translate(-50%, -50%);

    animation: mars-animation 35s linear infinite;
}

@keyframes mars-animation {
    from {
        transform: rotate(0deg) translateX(175px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(175px) rotate(-360deg);
    }
}

.mars-outline {
    height: 360px;
    width: 360px;
}

/* Jupiter Style */
.jupiter {
    width: 40px;
    height: 40px;
    background-image: url(../../images/jupiter.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #cac2b9;

    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);

    animation: jupiter-animation 50s linear infinite;
}

@keyframes jupiter-animation {
    from {
        transform: rotate(0deg) translateX(220px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(220px) rotate(-360deg);
    }
}

.jupiter-outline {
    height: 440px;
    width: 440px;
}

/* Saturn Style */
.saturn {
    width: 50px;
    height: 50px;
    background-image: url(../../images/saturn.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #cac2b9;

    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);

    animation: saturn-animation 70s linear infinite;
}

@keyframes saturn-animation {
    from {
        transform: rotate(0deg) translateX(260px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(260px) rotate(-360deg);
    }
}

.saturn-outline {
    height: 520px;
    width: 520px;
}

/* Uranus Style */
.uranus {
    width: 30px;
    height: 30px;
    background-image: url(../../images/uranus.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #cac2b9;

    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);

    animation: uranus-animation 90s linear infinite;
}

@keyframes uranus-animation {
    from {
        transform: rotate(0deg) translateX(303px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(303px) rotate(-360deg);
    }
}

.uranus-outline {
    height: 600px;
    width: 600px;
}

/* Neptune Style */
.neptune {
    width: 30px;
    height: 30px;
    background-image: url(../../images/neptune.jpg);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #cac2b9;

    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);

    animation: neptune-animation 120s linear infinite;
}

@keyframes neptune-animation {
    from {
        transform: rotate(0deg) translateX(337px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(337px) rotate(-360deg);
    }
}

.neptune-outline {
    height: 665px;
    width: 665px;
}