* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: whitesmoke;
}

h1 {
    color: tomato;
    margin: 15px 0 30px;
    text-align: center;
    text-decoration: underline;
}

/* Heading Style Start Here */
.heading {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.heading1 {
    margin-left: 25px;
}

.heading2 {
    margin-left: 55px;
}

.heading3 {
    margin-left: 65px;
}

.heading4 {
    margin-left: 40px;
}

.heading5 {
    margin-left: 20px;
}

.heading6 {
    margin-left: 100px;
}

/* Heading Style End Here */

.container {
    display: flex;
    justify-content: space-around;
}

img {
    height: 50px;
}

.flex-start, .flex-end, .center, .space-between, .space-around {
    display: flex;
    flex-wrap: wrap;

    width: 15vw;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stretch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    align-content: stretch;

    width: 23vw;
    height: 300px;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stretch .box {
    width: 80px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    background-color: tomato;
    margin: 3px;
}

.flex-start {
    align-content: flex-start;
}

.flex-end {
    align-content: flex-end;
}

.center {
    align-content: center;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}