body {
    font-family: cursive;
    background-color: whitesmoke;
}

h1 {
    color: tomato;
    text-align: center;
    text-decoration: underline;
}

.container {
    width: 800px;
    height: 250px;
    padding: 20px;
    margin: auto;
    border: 2px solid tomato;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box {
    margin: 5px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background-color: wheat;
}

.container1 {
    width: 250px;
    height: 150px;
    background-color: tomato;

    position: relative;
    top: 90px;
    left: 100px;

    z-index: 7;
}

.container2 {
    width: 300px;
    height: 180px;
    background-color: #0d5ef4;

    position: relative;
    top: 45px;
    right: 10px;

    z-index: 5;
}

.container3 {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;

    position: relative;
    right: 130px;
    bottom: 10px;

    z-index: 3;
}